<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Login </ion-title>

        <div class="hd-icon"><img src="assets/imgs/hd-icon.png" alt="icon"></div>
    </ion-navbar>
</ion-header>
    
<ion-content padding class="home-bg common-bg login-wrap">
    <ion-row>
        <ion-col col-12>
    
            <div class="inner-page-logo">
                <img src="assets/imgs/inner-page-logo.png" alt="Logo">
            </div> 
        
            <ion-list class="signup-wrap"> 
                <form [formGroup]="loginForm" (submit)="login()">   
                    <ion-item class="input-field"> 
                        <ion-input type="text" name="username" formControlName="username" placeholder="Email OR Phone" [class.invalid]="!loginForm.controls.username.valid && loginForm.controls.username.dirty"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.dirty">
                        <p>Please enter a valid username</p>
                    </ion-item>
                    
                    <ion-item class="input-field">
                        <ion-input type="password" name="password" formControlName="password" placeholder="Password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
                    </ion-item>

                    <ion-item *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
                        <p>Please enter a valid password</p>
                    </ion-item>
            
                    <div class="home-btn">
                        <button ion-button class="login-btn" [disabled]="!loginForm.valid">Submit</button>
                    </div>
                </form>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>