

<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Purchase </ion-title>
    <div class="hd-icon"><img src="assets/imgs/hd-icon.png" alt="icon"></div>
    </ion-navbar>
</ion-header>
    
    <ion-content padding class="home-bg common-bg login-wrap">
    
    <ion-row>
    <ion-col col-12>
  
    <div class="inner-page-logo">
    <img src="assets/imgs/inner-page-logo.png" alt="Logo">
    </div> 
    <form [formGroup]="purchaseForm" (submit)="confirm()">
        <ion-list class="signup-wrap del-pur-ride"> 
            
            <ion-item class="input-field"> 
                <ion-label>Purchase From :</ion-label>
                <ion-input type="text" name="purchase" formControlName="purchase" [class.invalid]="!purchaseForm.controls.purchase.valid && purchaseForm.controls.purchase.dirty"></ion-input>
            </ion-item>
            <div class="get-loc" (click)="goToLocation()">Get My Location <img src="assets/imgs/get-loc-icon.png" alt="icon"></div>
            
            <ion-item *ngIf="!purchaseForm.controls.purchase.valid && purchaseForm.controls.purchase.dirty">
                <p>Please enter a Pickup From</p>
            </ion-item>

            <ion-item class="input-field">
                <ion-label>Item List :</ion-label>
                <ion-input type="text" name="item" formControlName="item" [class.invalid]="!purchaseForm.controls.item.valid && purchaseForm.controls.item.dirty"></ion-input>
            </ion-item>

            <ion-item *ngIf="!purchaseForm.controls.item.valid && purchaseForm.controls.item.dirty">
                <p>Please enter a Item List</p>
            </ion-item>
            
            <ion-item class="input-field"> 
                <ion-label>Delivery to :</ion-label>
                <ion-input type="text" name="deliveryto" formControlName="deliveryto" [class.invalid]="!purchaseForm.controls.deliveryto.valid && purchaseForm.controls.deliveryto.dirty"></ion-input>  
            </ion-item>

            <ion-item *ngIf="!purchaseForm.controls.deliveryto.valid && purchaseForm.controls.deliveryto.dirty">
                <p>Please enter a Delivery To</p>
            </ion-item>
            
            <div class="show-details">
                <p>Total Items : 16</p>
                <p>Total Delivery Charge : 15543.00 INR</p>
            </div>

            <div class="home-btn">
                <button ion-button class="login-btn" [disabled]="!purchaseForm.valid">Confirm</button>
            </div>
    
        </ion-list>
    </form>
    
    </ion-col>
    </ion-row>
    
    </ion-content>